body {
  font-family: Arial, sans-serif;
}
.recibo {
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #000;
}
.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.separador {
  border-top: 1px solid #000;
  margin-top: 10px;
}
