<div #sectionToPrint>
  <div class="recibo">
    <div class="titulo">
      Casa Morelia
    </div>
    <div class="fecha">
      <strong>Fecha:</strong> {{ orden.fecha_pedido }}
    </div>
    <div class="platillos">
      <div *ngFor="let platillo of orden.platos">
        <div>{{ platillo.plato.nombre }} - {{ platillo.cantidad }} x ${{ platillo.plato.precio }}</div>
        <div *ngFor="let adicion of platillo.adiciones">
          - {{ adicion }}
        </div>
      </div>
    </div>
    <div class="separador"></div>
    <div class="total">
      <strong>Total:</strong> ${{ total }}
    </div>
    <div class="impuestos">
      <strong>Impuestos (IVA):</strong> ${{ impuestos }}
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <button (click)="onPrint()">Imprimir</button>
  </div>
  <div class="col">
    <button (click)="onPrint()">Imprimir</button>
  </div>
</div>
