    <div class="col">
      <div class="card h-100" >
          <img  [src]="platillo.imagen ? platillo.imagen:'./assets/img/logo.jpg' "  class="card-img-top" alt="Platillo 1">
          <div class="card-body">
              <h5 class="card-title">{{platillo.nombre}}</h5>
              <p class="card-text">{{platillo._id}}.</p>
              <p class="card-text">{{platillo.descripcion}}.</p>
              <p class="card-text">{{platillo.precio | currency: 'COP'}}</p>
              <div class="row">
                <div class="col">
                  <a  [routerLink]="['/platillos/edit', platillo._id ]" class="btn btn-primary ">Editar</a>
                </div>
                <div class="col">
                  <a  (click)="onAddtoCart()"  class="btn btn-success stretched-link">Agregar</a>
                </div>
              </div>
          </div>
      </div>
    </div>



  <!-- <button (click)="onShowDetail()">Show Detail</button>
  <button (click)="onAddtoCart()">Add Cart</button> -->

