
<div class="container my-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <app-platillo
      [platillo]="platillo"
     *ngFor="let platillo of platillos"
    (addedPlatillo)="onAddtToShoppingCart($event)"
    (showPlatillo)="onShowDetail($event)"
    ></app-platillo>
    <button (click)="loadMore()">Load more</button>
  </div>

<div class="product-detail" [class.active]="showPlatilloDetail">
  {{statusDetail}}
  <div *ngIf="platilloChosen">
    <button (click)="togglePlatilloDetail()">Close</button>
    <h1>{{platilloChosen.nombre}}</h1>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img of platilloChosen.imagen">
        <img [src]="img" alt="">
      </ng-template>
    </swiper>
    <p>{{platilloChosen.descripcion}}</p>
    <button (click)="updatePlatillo()">Editar</button>
    <button (click)="deletePlatillo()">Eliminar</button>
  </div>
</div>
