<div class="container my-4">
  <div class="row row-cols-lg-4 g-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
    <app-platillo
      [platillo]="platillo"
     *ngFor="let platillo of platillos"
    (addedPlatillo)="onAddtToShoppingCart($event)"
    (showPlatillo)="onShowDetail($event)"
    ></app-platillo>
    <button (click)="loadMore()">Load more</button>
  </div>

  <app-detalle-ordenes [showOrdenDetail]="showPlatilloDetail"></app-detalle-ordenes>

<!-- <app-fab class=" position-sticky fixed-bottom start-100"
  (cartClick)="togglePlatilloDetail()"
></app-fab> -->
