

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="./assets/img/logo.jpg" style="height: 75px; width: 75px;" alt="Casa Morelia" width="120">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto ">
              <li class="nav-item">
                  <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Registrar platillo</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Administrar platos</a>
              </li>
            </ul>
          </div>
          <!-- <form class="d-flex">
            <li class="nav-item d-flex mr-2">
              <a (click)="activarMenu()">
                <img src="./assets/svg/icon_shopping_cart.svg" height="60px" alt="logo">
                <span class="badge badge-primary   bg-dark">{{counter}}</span>
              </a>

            </li>

          </form> -->
  </div>
</nav>


