  <h1>
    {{ currentPlatillo._id ? 'Editar' : 'Agregar' }}
    Platillo:
    <small *ngIf="currentPlatillo._id">{{ currentPlatillo.nombre }}</small>
  </h1>
  <mat-divider class="mb-2"></mat-divider>

  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <form class="form-group" [formGroup]="platilloForm" (ngSubmit)="onSubmit()">
            <div class="col-12 mt-4 form-group">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                required
                name="nombre"
                formControlName="nombre"
              />
            </div>

            <div class="col-12 mt-4 form-group">
              <label for="precio">Precio</label>
              <input
                class="form-control"
                for="precio"
                type="number"
                required
                formControlName="precio"
              />
            </div>



            <div class="col-12 mt-4 form-group">
              <label for="descripcion">Descripcion</label>
              <input
              class="form-control"
              for="descripcion"
              type="text"
              formControlName="descripcion"
              />
            </div>
            <div class="col-12 mt-4 form-group">
              <!-- <label for="imagen">Imagen</label> -->
              <input
                class="form-control"
                for="imagen"
                type="text"
                hidden
                formControlName="imagen"
              />
            </div>
            <!-- <div class="col-12 mt-4 form-group">
              <label for="imagen">Adiciones</label>
              <app-chips-multi-select [options]="['carne','anvorguesa','papitas']"></app-chips-multi-select>
            </div> -->

            <hr>
            <upload-file
            (fileUpload)="onFileUploaded($event)"
            ></upload-file>

            <br>
            <div class="col text-center ">
              <button class="btn btn-success  form-control" (click)="onSubmit()">Guardar</button>

            </div>

          </form>


        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <img [src]="currentPlatillo.imagen"  height="250px" width="250px"  alt="imagen del platillo" mat-card-image>
        </div>
      </div>

    </div>
  </div>

